{
  "presets": [
    ["@babel/preset-env", {"exclude": ["transform-regenerator"], "targets": {"chrome": "63"}}],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
