.nav-container {
  margin-top: 120px;
}

.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding: 10px 0 22px 0;
  background-color: #fff;
  z-index: 999;
}

.nav-left {
  margin-left: 15px;
}

.nav-right {
  margin-right: 15px;
}
