.search--results {
  position: relative;
  height: 80%;
  overflow-y: scroll;
}

.search--results a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #666;
    border: 1px solid #eee;
    border-bottom: none;
    font-weight: 100;
    text-align: left;
}

.search--results .active {
    background-color: #2196F3;
    color: white;
}
