#app {
  font-family: monospace;
  color: black;
  font-size: 1em;
  margin: 0;
}

.breadcrumbs {
  margin-bottom: 15px;
}

.page {
  margin: 0 auto;
  width: 95%;
}

.error {
  color: red;
}

.action-button:disabled {
  opacity: .8;
}

.warning {
  background-color: #fbf2f2;
}

.align-right {
  text-align: right;
}

.warning-modal {
  background-color: red;
}

.config-container {

}
.config-container section {
  margin: 5px;
  margin-left: 5%;
}
.config-container--header {
  font-weight: bold;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #eee;
}

.config-container--content {
  margin-left: 20px;
}

.config-container--content div {
  margin-bottom: 5px;
}
